<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logo Animation Page</title>
  <link rel="stylesheet" href="/assets/css/PFK/styles.css">
  <link rel="stylesheet" href="/assets/css/PFK/header.css">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <nav>
      <a href="#Inicio">Inicio</a>
      <a href="#About">¿Qué es Prolog for Kids?</a>
      <a href="#Herramientas">Aprende con Blockly Prolog</a>
      <a href="#Encuetros">Nuestros Encuentros</a>
      <a href="#Galeria">Galería</a>
      <a href="#Contacto">Contacto</a>
    </nav>
  </header>

  <section class="cara_pagina">
    <div class="logo-container">
      <img src="/assets/images/LOGO_PFK.webp" alt="Prolog for Kids Logo" class="logo">
    </div>
  </section>
</body>
</html>
