/* Asegurarse de que el contenedor ocupe el 100% del alto disponible */
.content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  height: calc(100vh - 40px); /* Asegura que el contenido ocupe toda la altura disponible, restando los márgenes */
  overflow-y: auto; /* Permite desplazamiento cuando el contenido es mayor que el contenedor */
}

h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #666;
}

.profile-card {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-card .name {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card {
  margin: 10px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card a {
  color: #007bff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}
